In [1]:
print("mike testing")

mike testing

In [9]:
import pandas as pd
import os

In [22]:
df = pd.read_csv("../data/raw/colorectal_cancer_dataset.csv")

In [23]:
df.head(10)

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
0,1,UK,77,M,Localized,69,No,No,Yes,Overweight,...,Yes,No,54413,50,5,Urban,Developed,Moderate,Insured,Yes
1,2,UK,59,M,Localized,33,No,No,No,Overweight,...,Yes,No,76553,37,25,Urban,Developing,High,Uninsured,Yes
2,3,Japan,66,M,Regional,17,No,Yes,No,Normal,...,Yes,No,62805,54,27,Urban,Developed,Moderate,Uninsured,No
3,4,USA,83,M,Regional,14,No,No,No,Obese,...,Yes,No,89393,45,11,Urban,Developed,Moderate,Insured,Yes
4,5,France,66,M,Localized,34,No,Yes,No,Normal,...,Yes,No,66425,15,27,Urban,Developing,High,Insured,Yes
5,6,Japan,69,M,Localized,71,No,No,Yes,Obese,...,No,No,82764,41,19,Urban,Developed,Moderate,Uninsured,No
6,7,Canada,79,F,Metastatic,59,No,Yes,No,Overweight,...,Yes,Yes,55948,51,6,Urban,Developed,High,Uninsured,Yes
7,8,Germany,89,F,Localized,19,Yes,No,Yes,Overweight,...,Yes,Yes,62667,57,11,Rural,Developed,High,Uninsured,Yes
8,9,USA,50,M,Regional,48,Yes,No,No,Overweight,...,No,Yes,47269,23,11,Rural,Developing,Low,Insured,Yes
9,10,Japan,54,F,Regional,71,No,No,Yes,Normal,...,Yes,No,92045,56,13,Urban,Developed,High,Uninsured,Yes

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167497 entries, 0 to 167496
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Patient_ID                  167497 non-null  int64
 1   Country                     167497 non-null  object
 2   Age                         167497 non-null  int64
 3   Gender                      167497 non-null  object
 4   Cancer_Stage                167497 non-null  object
 5   Tumor_Size_mm               167497 non-null  int64
 6   Family_History              167497 non-null  object
 7   Smoking_History             167497 non-null  object
 8   Alcohol_Consumption         167497 non-null  object
 9   Obesity_BMI                 167497 non-null  object
 10  Diet_Risk                   167497 non-null  object
 11  Physical_Activity           167497 non-null  object
 12  Diabetes                    167497 non-null  object
 13  Inflammatory_Bowel_Disease  167497 non-null  object
 14  Genetic_Mutation            167497 non-null  object
 15  Screening_History           167497 non-null  object
 16  Early_Detection             167497 non-null  object
 17  Treatment_Type              167497 non-null  object
 18  Survival_5_years            167497 non-null  object
 19  Mortality                   167497 non-null  object
 20  Healthcare_Costs            167497 non-null  int64
 21  Incidence_Rate_per_100K     167497 non-null  int64
 22  Mortality_Rate_per_100K     167497 non-null  int64
 23  Urban_or_Rural              167497 non-null  object
 24  Economic_Classification     167497 non-null  object
 25  Healthcare_Access           167497 non-null  object
 26  Insurance_Status            167497 non-null  object
 27  Survival_Prediction         167497 non-null  object
dtypes: int64(6), object(22)
memory usage: 35.8+ MB

In [27]:
df.describe()

,Patient_ID,Age,Tumor_Size_mm,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K
count,167497.000000,167497.00000,167497.000000,167497.000000,167497.000000,167497.000000
mean,83749.000000,69.20078,42.005708,72452.168099,34.531562,17.023875
std,48352.363357,11.87247,21.672206,27402.779597,14.447970,7.208766
min,1.000000,30.00000,5.000000,25000.000000,10.000000,5.000000
25%,41875.000000,59.00000,23.000000,48760.000000,22.000000,11.000000
50%,83749.000000,69.00000,42.000000,72344.000000,35.000000,17.000000
75%,125623.000000,79.00000,61.000000,96227.000000,47.000000,23.000000
max,167497.000000,89.00000,79.000000,119999.000000,59.000000,29.000000

In [29]:
df.describe(include="all")

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
count,167497.000000,167497,167497.00000,167497,167497,167497.000000,167497,167497,167497,167497,...,167497,167497,167497.000000,167497.000000,167497.000000,167497,167497,167497,167497,167497
unique,NaN,16,NaN,2,3,NaN,2,2,2,3,...,2,2,NaN,NaN,NaN,2,2,3,2,2
top,NaN,USA,NaN,M,Regional,NaN,No,No,Yes,Overweight,...,Yes,No,NaN,NaN,NaN,Urban,Developed,Moderate,Insured,Yes
freq,NaN,25927,NaN,100686,66981,NaN,117184,100141,83857,67168,...,100387,100354,NaN,NaN,NaN,117391,100367,83539,117533,100437
mean,83749.000000,NaN,69.20078,NaN,NaN,42.005708,NaN,NaN,NaN,NaN,...,NaN,NaN,72452.168099,34.531562,17.023875,NaN,NaN,NaN,NaN,NaN
std,48352.363357,NaN,11.87247,NaN,NaN,21.672206,NaN,NaN,NaN,NaN,...,NaN,NaN,27402.779597,14.447970,7.208766,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,30.00000,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,25000.000000,10.000000,5.000000,NaN,NaN,NaN,NaN,NaN
25%,41875.000000,NaN,59.00000,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,48760.000000,22.000000,11.000000,NaN,NaN,NaN,NaN,NaN
50%,83749.000000,NaN,69.00000,NaN,NaN,42.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,72344.000000,35.000000,17.000000,NaN,NaN,NaN,NaN,NaN
75%,125623.000000,NaN,79.00000,NaN,NaN,61.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,96227.000000,47.000000,23.000000,NaN,NaN,NaN,NaN,NaN
max,167497.000000,NaN,89.00000,NaN,NaN,79.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,119999.000000,59.000000,29.000000,NaN,NaN,NaN,NaN,NaN